@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.head
{
    font-weight: 200;
}
h3
{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 1.3rem;
}
h1
{
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
    font-weight: 600;
}
p
{
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}
.head-p
{
    color: hsl(229, 6%, 66%);
    font-size: 1rem;
    font-weight: 400;
}
body
{
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
}
header
{
    text-align: center;
    padding: 50px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    min-height: 14em;
    width: 23.3em;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.left::after
{
    content: '';
    background-color:hsl(180, 62%, 55%);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}
.top::after
{
    content: '';
    background-color:hsl(0, 78%, 62%);
    position: absolute;
    top: 0;
    height: 5px;
    left: 0;
    width: 100%;
}
.down::after
{
    content: '';
    background-color:hsl(34, 97%, 64%);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}
.right::after
{
    content: '';
    background-color:hsl(212, 86%, 64%);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}
.card img 
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
}

@media (max-width: 768px)
{
    .container
{
    display: block;
}
h1
{
    font-size: 1.494rem;
}
.card
{
 margin: 18px auto;
}
}